:root {
    --fire-brick-red: #B22B28;
    --hover-red: #991c1a;
    --base-dark-green: #1B512D;
    --hover-green: #256E3D;
    --pastel-green: #D5FFD9;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
}

label {
    color: #787575;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    color: #787575;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: rgba(217, 217, 217, 0.2);
    border: none;
    border-bottom: solid 2px #868686;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
